.countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f0f0f0; /* Svetlo siva pozadina */
  }
  
  .country-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .country-card img {
    max-width: 100%;
    height: auto;
  }
  
  .country-card button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .country-card button:hover {
    background-color: #0056b3;
  }
  