<nav class="navbar">
  <div class="logo-container">
    <img src="assets/logo.jpg" alt="Logo">
  </div>
  <ul class="nav-links">
    <li><a href="#">Pocetna</a></li>
    <li class="dropdown" (click)="toggleDropdown()" (mouseleave)="isDropdownOpen = false">
      <a>Zemlje</a>
      <div class="dropdown-content" [class.show]="isDropdownOpen">
        <!-- Use routerLink for navigation -->
        <a *ngFor="let country of countries" [routerLink]="['/drzava']" [queryParams]="{id: country.id}">
          {{ country.name }}
        </a>
         </div>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login">Login</a>
    </li>
    <li *ngIf="authService.isLoggedIn() && authService.isUserAdmin()">
      <a (click)="authService.logout()">Logout</a>
    </li>
  </ul>
</nav>
