.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 20px;
    border-color: black;
    width: 98%;
    max-width: 500px; /* Adjust based on your preference */
    margin: 20px auto; /* Center the search bar in the container */
  }
  
  .search-bar-container input[type="text"] {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar-container button {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-bar-container button:hover {
    background-color: #0056b3; /* Darker shade of the primary color */
  }
  