.countries-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #e6f2ff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards as needed */
  }
  
  .city-card {
    flex: 1 1 300px; /* Adjust the base size of the card as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .city-card img {
    width: 100%;
    max-width: 250px; /* Adjust the max-width as needed */
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .city-card p {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .city-card button {
    background-color: #0056b3;
    background: linear-gradient(88.31deg, #2179d8 13.82%, #4a9df7 86.7%);
    box-shadow: 0 4px 8px rgba(255, 0, 0, .18);
    color: #fff;
    padding: 10px 20px;
    text-transform: capitalize;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: .75px;
    text-align: center;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .city-card button:hover {
    background-color: #1f75d6;
  }
  
  .city-card button:active {
    background-color: #1e3147;
  }
  