/* U home-gallery.component.css */

.gallery img {
    max-width: 100%;
    height: auto;
    display: block; /* Uklanja dodatni prostor ispod slika */
    margin: 0 auto; /* Centriranje slike */
  }
  
  /* Dodajte dodatne stilove po potrebi */
  