.featured-offers {
    margin-top: 20px;
  }
  
  .offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .offer-card {
    width: 30%;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .offer-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }
  
  .offer-info {
    padding: 15px;
  }
  
  .offer-info h3 {
    margin: 0;
    color: #0056b3;
  }
  
  .offer-info p {
    color: #666;
    font-size: 14px;
  }
  
  .offer-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
     cursor: pointer;
  }
  
  @media (min-width: 420px) {
    .offer-card {
        width: 40%;
        
    }
  }
  
  @media (min-width: 1200px) {
    .offer-card  {
      flex-direction: column;
      align-items: flex-start;  
      margin-bottom: 20px;
      align-self: flex-end;  
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
      width: 30%; 

    }
  }
  