.intro-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  
  .intro-section h1 {
    color: #0056b3;
    margin-bottom: 15px;
  }
  
  .intro-section p {
    color: #333;
    line-height: 1.6;
  }
 
  .mapa {
    flex-direction: column;
    align-items: flex-start;  
    margin-bottom: 20px;
    align-self: flex-end;  
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 5%;
    margin-right: 5%; 
    width: 90%;
    height: 300px;

  }
  @media (max-width: 1068px) {
    .mapa {
      flex-direction: column;
      align-items: flex-start;  
      margin-bottom: 20px;
      align-self: flex-end;  
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      margin-left: 5%;
      margin-right: 5%; 
      width: 90%;
      height: 300px;

    }
  }

  @media (min-width: 1568px) {
    .mapa {
      flex-direction: column;
      align-items: flex-start;  
      margin-bottom: 20px;
      align-self: flex-end;  
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      margin-left: 15%;
      margin-right: 15%; 
      width: 70%;
      height: 400px;

    }
  }

 