.form-group {
    margin-bottom: 19px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure the padding does not affect the width */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #0056b3;
}

.photo-thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.photo-container {
    margin-top: 20px;
}

.photo-container h3 {
    margin-bottom: 15px;
}
